// SCSS Variables
$primary: #FFA200;
$secondary: #6EDA78;
$shape-color: currentColor;
$shape-default-color: #6b7280;
$card-bg: #ffffff;

// Shape base styles
.shape-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  min-height: 80px;
  color: $shape-default-color;
}

// Square
.shape-square {
  width: 60px;
  height: 60px;
  background-color: currentColor;
}

// Circle
.shape-circle {
  width: 60px;
  height: 60px;
  background-color: currentColor;
  border-radius: 50%;
}

// Oval
.shape-oval {
  width: 100px;
  height: 50px;
  background-color: currentColor;
  border-radius: 50%;
}

// Rectangle
.shape-rectangle {
  width: 100px;
  height: 60px;
  background-color: currentColor;
}

// Trapezoid
.shape-trapezoid-container {
  width: 120px;
  height: 60px;
  background-color: currentColor;
  clip-path: polygon(10% 0%, 90% 0%, 100% 100%, 0% 100%);
}

// Parallelogram
.shape-parallelogram {
  width: 100px;
  height: 60px;
  background-color: currentColor;
  transform: skewX(-20deg);
}

// Triangle Up
.shape-triangle-up {
  width: 0;
  height: 0;
  border-left: 40px solid transparent;
  border-right: 40px solid transparent;
  border-bottom: 70px solid currentColor;
}

// Triangle Down
.shape-triangle-down {
  width: 0;
  height: 0;
  border-left: 40px solid transparent;
  border-right: 40px solid transparent;
  border-top: 70px solid currentColor;
}

// Triangle Left
.shape-triangle-left {
  width: 0;
  height: 0;
  border-top: 40px solid transparent;
  border-bottom: 40px solid transparent;
  border-right: 70px solid currentColor;
}

// Triangle Right
.shape-triangle-right {
  width: 0;
  height: 0;
  border-top: 40px solid transparent;
  border-bottom: 40px solid transparent;
  border-left: 70px solid currentColor;
}